<section class="about-us">
  <div class="container">
    <h2 class="hidden-xs"><img src="assets/about-us-icon.png" /> About Us</h2>
    <h2 class="visible-xs"><a href="#collapse-about" data-toggle="collapse"><img src="assets/about-us-icon.png" /> About Us <i class="fa fa-angle-right pull-right"></i></a></h2>
    <div id="collapse-about" class="row">
      <div class="col-md-6 col-sm-6">
        <p>Quis Lorem mollit officia nulla fugiat ad quis. Minim pariatur sunt veniam nostrud ad dolor sunt voluptate aliquip. Ex do elit aliquip laborum duis excepteur velit dolor voluptate exercitation sint officia sunt. Ipsum cupidatat aute duis consectetur adipisicing occaecat est duis labore nisi culpa in occaecat. Consequat elit sit Lorem laboris sunt sunt nulla ut labore nisi culpa in occaecat. Consequat elit sit Lorem laboris sunt sunt nulla ut labore nisi culpa in occaecat. Consequat elit sit Lorem laboris sunt sunt nulla ut.</p>
      </div>
      <div class="col-md-6 col-sm-6">
        <p>Quis enim reprehenderit et eu nulla id ullamco eiusmod veniam occaecat labore nisi culpa in occaecat. Consequat elit sit Lorem laboris sunt sunt nulla ut anim consequat excepteur id anim anim ut est pariatur. Cupidatat aliqua enim excepteur aliquip ipsum excepteur minim proident commodo in quis pariatur qui cupidatat sit nostrud. Irure fugiat anim duis culpa sint elit do anim ex. Consectetur culpa adipisicing voluptate consectetur deserunt excepteur excepteur est commodo ad culpa non.</p>
      </div>
    </div>
  </div>
</section>
