<section class="book-online">
  <div class="container">
    <h2 class="hidden-xs"><img src="assets/book-online-icon.png" /> Book Online</h2>
    <h2 class="visible-xs"><a href="#collapse-book-online" data-toggle="collapse"><img src="assets/book-online-icon.png" /> Book Online <i class="fa fa-angle-right pull-right"></i></a></h2>
    <div id="collapse-book-online" class="row">
      <div class="col-md-6 col-sm-6">
        <ol>
          <li><span>1</span> Choose your required Service.</li>
          <li><span>2</span> Choose your appointment time.</li>
          <li><span>3</span> Pay online using cash or credit card.</li>
        </ol>
      </div>
      <div class="col-md-6 col-sm-6">
        <div class="well">
          <h4>Safe, Secure & Reliable</h4>
          <a href="" class="btn btn-primary">Book Online</a>
          <br>
          <label>We Accept</label>
          <ul class="nav nav-pills">
            <li><img src="assets/mastercard.png" alt="Master Card" /></li>
            <li><img src="assets/visa.png" alt="Visa Card" /></li>
            <li><img src="assets/americanexpress.png" alt="American Express" /></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>
