<header>
  <div class="container">
    <div class="media">
      <div class="media-left">
        <img src="assets/logo.jpg" alt="PHBS" />
      </div>
      <div class="media-body">
        <h1>Paddington Hair & Beauty Salon <br> <span class="hidden-xs">Paddington, Sydney, NSW</span></h1>
        <p>262 Latrobe Terrace, Paddington, Syndney, NSW</p>
      </div>
    </div>
    <img src="assets/header.jpg" class="img-responsive visible-xs" />
    <a href="" class="btn btn-primary visible-xs">Book Online</a>
  </div>
</header>
