<nav class="navigation hidden-xs">
  <div class="container">
    <div class="header">
      <button type="button" data-toggle="collapse" data-target=".collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    </div>
    <div class="collapse navbar-collapse">
      <ul>
        <li class="active"><a href="">Services</a></li>
        <li><a href="">Book Online</a></li>
        <li><a href="">About Us</a></li>
        <li><a href="">Our Location</a></li>
        <li><a href="">Opening Hours</a></li>
        <li><a href="">Reviews</a></li>
      </ul>
      <button type="button" class="btn-primary">Book Online</button>
    </div>
  </div>
</nav>
