<section>
  <div class="container">
    <h2 class="hidden-xs"><img src="assets/opening-icon.png" /> Opening Hours</h2>
    <h2 class="visible-xs"><a href="#collapse-opening" data-toggle="collapse"><img src="assets/opening-icon.png" /> Opening Hours <i class="fa fa-angle-right pull-right"></i></a></h2>
    <div id="collapse-opening">
      <table class="table opening-hours">
        <tbody>
          <tr>
            <td>Sunday</td>
            <td>9:00 AM <span>To</span> 6:00 PM</td>
          </tr>
          <tr>
            <td>Monday</td>
            <td>Closed</td>
          </tr>
          <tr>
            <td>Tuesday</td>
            <td>9:00 AM <span>To</span> 6:00 PM</td>
          </tr>
          <tr>
            <td>Wednesday</td>
            <td>9:00 AM <span>To</span> 6:00 PM</td>
          </tr>
          <tr>
            <td>Thursday</td>
            <td>9:00 AM <span>To</span> 6:00 PM</td>
          </tr>
          <tr>
            <td>Friday</td>
            <td>9:00 AM <span>To</span> 6:00 PM</td>
          </tr>
          <tr>
            <td>Saturday</td>
            <td>9:00 AM <span>To</span> 6:00 PM</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</section>
