<section class="reviews">
  <div class="container">
    <h2 class="hidden-xs"><img src="assets/reviews-icon.png" /> Reviews</h2>
    <h2 class="visible-xs"><a href="#collapse-reviews" data-toggle="collapse"><img src="assets/reviews-icon.png" /> Reviews <i class="fa fa-angle-right pull-right"></i></a></h2>
    <div id="collapse-reviews" class="row">
      <div class="col-md-4 col-sm-4">
        <blockquote>
          <p>Anim officia cupidatat eu commodo Lorem aute nisi commodo. Consequat qui sint labore ut elit proident qui eiusmod esse ullamco adipisicing. Cupidatat ut aliqua nostrud dolor voluptate esse ipsum deserunt elit fugiat laboris cupidatat magna.</p>
          <a href="">Read More</a>
          <i class="fa fa-caret-down"></i>
        </blockquote>
        <p>
          Mary
          <span class="rating">
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star-o"></i>
          </span>
        </p>
      </div>
      <div class="col-md-4 col-sm-4">
        <blockquote>
          <p>Nulla incididunt laboris consequat incididunt dolore ea minim esse ipsum commodo nostrud non aliqua. Id esse cupidatat adipisicing elit pariatur voluptate ut esse esse in. Elit est labore ut ex consequat non sunt sunt in. Voluptate ad est laboris ipsum cupidatat non et minim ipsum id magna magna incididunt ex pariatur.</p>
          <a href="">Read More</a>
          <i class="fa fa-caret-down"></i>
        </blockquote>
        <p>
          Samuel
          <span class="rating">
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star-o"></i>
          </span>
        </p>
      </div>
      <div class="col-md-4 col-sm-4">
        <blockquote>
          <p>Amet adipisicing nulla voluptate velit veniam quis in deserunt do. Deserunt eiusmod dolore fugiat et tempor tempor ut aute. Et qui deserunt sint eiusmod officia adipisicing excepteur in do irure anim id do minim. Ut ullamco sit adipisicing nulla officia est minim Lorem eiusmod sint id fugiat.</p>
          <a href="">Read More</a>
          <i class="fa fa-caret-down"></i>
        </blockquote>
        <p>
          James
          <span class="rating">
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star-o"></i>
          </span>
        </p>
      </div>
    </div>
  </div>
</section>
