<section>
  <div class="container">
    <h2 class="hidden-xs"><img src="assets/services-icon.png" /> Services</h2>
    <h2 class="visible-xs"><a href="#collapse-services" data-toggle="collapse"><img src="assets/services-icon.png" /> Services <i class="fa fa-angle-right pull-right"></i></a></h2>
    <div id="collapse-services">
      <table class="table">
        <thead><tr><th>HAIR CUT</th><th></th><th></th></tr></thead>
        <tbody>
          <tr>
            <td>Ladies Colour & Treatment</td>
            <td>20% OFF</td>
            <td>FROM <strong>$99</strong></td>
          </tr>
          <tr>
            <td>Mens Hair Cut</td>
            <td>20% OFF</td>
            <td></td>
          </tr>
          <tr>
            <td>Another Treatment</td>
            <td>20% OFF</td>
            <td>FROM <strong>$99</strong></td>
          </tr>
        </tbody>
        <thead><tr><th>COLOUR</th><th></th><th></th></tr></thead>
        <tbody>
          <tr>
            <td>Ladies Colour & Treatment</td>
            <td>20% OFF</td>
            <td>FROM <strong>$99</strong></td>
          </tr>
        </tbody>
        <thead><tr><th>BLOW DRY</th><th></th><th></th></tr></thead>
        <tbody>
          <tr>
            <td>Blow Dry & Style</td>
            <td>20% OFF</td>
            <td>FROM <strong>$99</strong></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</section>
